@let emailControl = loginForm.controls.email;
@let passwordControl = loginForm.controls.password;

<div class="min-h-dvh grid place-items-center">
  <form class="max-w-full w-md"
        [formGroup]="loginForm"
        (ngSubmit)="onSubmit()" novalidate aria-labelledby="login-heading">
    <p-fieldset>
      <h2 class="text-3xl font-bold underline">Login</h2>
      <app-form-group
        [control]="emailControl"
        label="Email"
      >
        <input
          autocomplete="email"
          class="flex-1"
          formControlName="email"
          id="email"
          pInputText
          placeholder="Enter your email"
          type="email"
        />
      </app-form-group>

      <app-form-group
        [control]="passwordControl"
        label="Password"
      >
        <input
          autocomplete="current-password"
          class="flex-1"
          formControlName="password"
          id="password"
          pInputText
          placeholder="Enter your password"
          type="password"
        />
      </app-form-group>

      <div class="form-actions">
        <p-button
          type="submit"
          label="Login"
          icon="pi pi-sign-in"
          iconPos="right"
          [disabled]="loginForm.invalid"
          aria-label="Login to your account"
        >
        </p-button>
      </div>
    </p-fieldset>
  </form>
</div>
